[package]
name = "ollama-lmstudio-proxy"
version = "0.1.1"
edition = "2024"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
reqwest = { version = "0.12.24", features = ["json", "stream"] }
serde_json = "1.0"
tokio = { version = "1.48", features = ["full"] }
tokio-stream = "0.1"
warp = "0.3"
chrono = { version = "0.4", features = ["serde"] }
md5 = "0.7"
bytes = "1.11"
futures-util = "0.3.31"
tokio-util = "0.7"
url = "2.5.7"
serde = { version = "1.0.228", features = ["derive"] }
moka = { version = "0.12.11", features = ["future"] }
