[package]
name = "ollama-lmstudio-proxy"
version = "0.1.2"
edition = "2024"

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }
reqwest = { version = "0.12.24", features = ["json", "stream"] }
serde_json = "1.0.145"
tokio = { version = "1.48.0", features = ["full"] }
tokio-stream = "0.1.17"
warp = "0.3"
chrono = { version = "0.4.42", features = ["serde"] }
md5 = "0.8.0"
bytes = "1.11.0"
futures-util = "0.3.31"
tokio-util = "0.7.17"
url = "2.5.7"
serde = { version = "1.0.228", features = ["derive"] }
moka = { version = "0.12.11", features = ["future"] }
sha2 = "0.10.9"
dirs = "6.0.0"
humantime = "2.3.0"
